footer {
    background: var(--color-c10);
    color: white;
    padding: 120px 32px 32px 32px;
}
.contato h2 {
    font-size: 8rem;
    text-transform: uppercase;
    word-break: break-all;
    line-height: 1;
    max-width: 4ch;
    color: var(--color-c8);
}
.contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contato h3 {
    font-family: ibm plex sans;
    font-size: 2.375rem;
    margin-bottom: 20px;
}
.contato p {
    font-weight: normal;
    color: var(--color-c4);
    margin-bottom: 64px;
    font-size: 1.25rem;
}
.contato-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contato-links a {
    text-decoration: none;
    color: var(--color-c2);
    line-height: 1;
    transition: 0.5s;
}
.contato-links a:hover {
    color: var(--color-v1);
    text-decoration: underline;
}
.whatsapp, .email, .linkedin {
    position: relative;
}
.whatsapp::before {
    content: "";
    background-image: url(../Icones/whatsapp.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: -26px;
    display: block;
    width: 20px;
    height: 20px;
}
.email::before {
    content: "";
    background-image: url(../Icones/mail.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: -26px;
    display: block;
    width: 20px;
    height: 20px;
}
.linkedin::before {
    content: "";
    background-image: url(../Icones/linkedin.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: -26px;
    display: block;
    width: 20px;
    height: 20px;
}
.copy {
    font-size: 0.875rem;
    color: var(--color-c6);
    text-align: center;
    grid-column: 1 / -1;
    display: block;
    margin-top: 120px;
    border-top: 1px solid var(--color-c9);
    padding-top: 32px;
}

@media (max-width: 1100px) {
    .contato h2 {
        font-size: 6rem;
    }
}
@media (max-width: 768px) {
    .contato {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contato h2 {
        font-size: 2rem;
        text-transform: none;
        color: var(--white);
        word-break: normal;
        margin-bottom: 20px;
    }
    .contato h3 {
        color: var(--color-v1);
        text-decoration: underline;
    }
    .whatsapp::before, .linkedin::before, .email::before {
        left: 0;
        top: -24px;
    }
    .contato-links {
        gap: 44px;
    }
}